<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <p class="text-body-secondary">© 2023 All rights reserved. Cookify</p>
    </div>

    <div class="col mb-3">
      <h5 class="footer-links-title">Health</h5>
      <ul class="nav flex-column footer-links">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Weight Loss</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Diabetes Diet</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Keto Diet</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Depression</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Low Blood Pressure</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Healthy Food</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Digestion</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Headaches</a>
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class="footer-links-title">Beauty</h5>
      <ul class="nav flex-column footer-links">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Aloe Vera</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Rose Water</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Hair Growth</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Dry Skin</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Dandruff</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Face Packs</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Beauty Tips</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Acne</a>
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class="footer-links-title">Veg Recipes</h5>
      <ul class="nav flex-column footer-links">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Dinner Recipes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Salad Recipes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Paneer Recipes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Mushroom Recipes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Soya Recipes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Dal Recipes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Cabbage Recipes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Beetroot Recipes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Snacks Recipes</a>
        </li>
      </ul>
    </div>
    <div class="col mb-3">
      <h5 class="footer-links-title">Summer Special</h5>
      <ul class="nav flex-column footer-links">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Summer Recipes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Summer Foods</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Summer Drinks</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Benefits of Curd</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Skin Care Tips</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Face Care Tips</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Smoothie Recipe</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Phirni Recipe</a>
        </li>
      </ul>
    </div>
  </footer>
</div>

<style>
  .footer-links > li {
    color: #b4bfb1;
    display: flex;
    align-items: center;
  }
  .footer-links > li::before {
    content: "\2022"; /* Unicode character for a bullet point */
    color: #38864c;
    font-size: 2rem;
    padding-right: 15px;
  }
  .footer-links-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #6d9847;
    font-weight: 600;
  }
</style>
