/* remove arrows from number input field */
/* Chrome, Safari, Edge, Opera */
#inputCookingTime::-webkit-outer-spin-button,
#inputCookingTime::-webkit-inner-spin-button,
#inputPreparationTime::-webkit-outer-spin-button,
#inputPreparationTime::-webkit-inner-spin-button,
#inputServings::-webkit-outer-spin-button,
#inputServings::-webkit-inner-spin-button,
#inputInstructionsTime::-webkit-outer-spin-button,
#inputInstructionsTime::-webkit-inner-spin-button,
#inputQuantity::-webkit-outer-spin-button,
#inputQuantity::-webkit-inner-spin-button,
.custom-pagination-value::-webkit-outer-spin-button,
.custom-pagination-value::-webkit-inner-spin-button,
.total-time::-webkit-outer-spin-button,
.total-time::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* remove arrows from number input field */
/* Firefox */
#inputCookingTime[type="number"],
#inputPreparationTime[type="number"],
#inputServings[type="number"],
#inputInstructionsTime[type="number"],
#inputQuantity[type="number"],
.custom-pagination-value[type="number"],
.total-time[type="number"] {
  -moz-appearance: textfield;
}

.custom-pagination {
  border: none;
  background-color: inherit !important;
}

.custom-page-link.disabled {
  border: none;
  background-color: initial;
  outline: none;
}

.custom-page-link:hover,
.custom-page-link:active,
.custom-page-link:focus {
  border: none;
  background-color: initial;
  outline: none;
}

.custom-page-link:hover,
.custom-page-link:active,
.custom-page-link:focus {
  border: none;
  background-color: initial;
  outline: none;
}
